{% extends "layouts/base.html" %}
{% import 'macros/form.html' as f with context %}
{% block body %}
<h4>Patient case <code>{{patient_id}} - {{slide_id}}</code></h4>
<h5>Fill missing data for Well {{well}}</h5>

<nav>
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link"
         href="#"
         tabindex="-1"><strong>Wells: </strong></a>
    </li>
    {% for i in range(1,13) %}
    <li class="page-item
      {% if i==well %} active {% endif %} 
      {% if not welldata[i-1] %} disabled {% endif %}">
      <a class="page-link"
         href="/patient/missing?patient_id={{patient_id}}&slide_id={{slide_id}}&well={{i}}">{{ i }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

<p>
  <button type="button"
          class="btn btn-primary"
          onclick="window.location.href='/patient/display/{{patient_id}}/{{slide_id}}/{{well}}'">
    <i class="fas fa-step-backward"></i>&nbsp; Back to Well {{ well }} Details
  </button>
</p>

{{data.tDead}}

{% call f.form_tag('patient.patient_missing',patient_id=patient_id,slide_id=slide_id,well=well) %}
{% call f.form_group(form.fetal_heart_beat,disabled=data.fetal_heart_beat!="") %} {% endcall %}
{% call f.form_group(form.live_born,disabled=data.live_born!="") %} {% endcall %}
{% call f.form_group(form.tPB2,disabled=data.tPB2!="") %} {% endcall %}
{% call f.form_group(form.tPNa,disabled=data.tPNa!="") %} {% endcall %}
{% call f.form_group(form.tPNf,disabled=data.tPNf!="") %} {% endcall %}
{% call f.form_group(form.t2,disabled=data.t2!="") %} {% endcall %}
{% call f.form_group(form.t3,disabled=data.t3!="") %} {% endcall %}
{% call f.form_group(form.t4,disabled=data.t4!="") %} {% endcall %}
{% call f.form_group(form.t5,disabled=data.t5!="") %} {% endcall %}
{% call f.form_group(form.t6,disabled=data.t6!="") %} {% endcall %}
{% call f.form_group(form.t7,disabled=data.t7!="") %} {% endcall %}
{% call f.form_group(form.t8,disabled=data.t8!="") %} {% endcall %}
{% call f.form_group(form.t9,disabled=data.t9!="") %} {% endcall %}
{% call f.form_group(form.tSC,disabled=data.tSC!="") %} {% endcall %}
{% call f.form_group(form.tM,disabled=data.tM!="") %} {% endcall %}
{% call f.form_group(form.tSB,disabled=data.tSB!="") %} {% endcall %}
{% call f.form_group(form.tB,disabled=data.tB!="") %} {% endcall %}
{% call f.form_group(form.tEB,disabled=data.tEB!="") %} {% endcall %}
{% call f.form_group(form.tHB,disabled=data.tHB!="") %} {% endcall %}
{% call f.form_group(form.tDead,disabled=data.tDead!="") %} {% endcall %}
{% call f.form_group(form.morphological_grade_value,disabled=data.morphological_grade_value!="") %} {% endcall %}
<button type="submit"
        class="btn btn-primary">Submit</button>
{% endcall %}
{% endblock %}
